<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Post">
        <plugin disabled="true" name="Inchoo_Helloworld_Plugin_Post" sortOrder="10" type="Inchoo\Helloworld\Plugin\Post"/>
    </type>
</config>
